$white: #f9f9f9; //
$white-two:#ffffff; //
$white-three:#ecebe9; //
$light-gold: #ffdf5b; //..
$kiwi-green: #8fe360; //..
$pale-orange: #ffbe5b; //..
$weird-green: #57e690; //..
$pastel-orange: #ff915b; //..
$m-l-cyan: #57dbe6; //..
$l-green: #d0ba93; //..
$m-l-red: #ff5b5b; //..
$m-l-gray: #b2b2b2; //..
$m-l-brown: #cfb995; //..
$d-gray: #303030; //..

.bg-l-green {
    background-color: $l-green !important;
}

.bg-m-l-gray {
    background-color: $m-l-gray !important;
}

.bg-d-gray {
    background-color: $d-gray !important;
}

.bg-weird-green {
    background-color: $weird-green !important;
}

.bg-m-l-red {
    background-color: $m-l-red !important;
}

.bg-kiwi-green {
    background-color: $kiwi-green !important;
}

.bg-pastel-orange {
    background-color: $pastel-orange !important;
}

.bg-light-gold {
    background-color: $light-gold !important;
}

.bg-pale-orange {
    background-color: $pale-orange !important;
}

.bg-m-l-brown {
    background-color: $m-l-brown !important;
}

.bg-m-l-cyan {
    background-color: $m-l-cyan !important;
}